[submodule "themes/fuji"]
	path = themes/fuji
	url = https://github.com/amzrk2/hugo-theme-fuji.git
[submodule "themes/virgo"]
	path = themes/virgo
	url = https://github.com/loveminimal/hugo-theme-virgo.git
